{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-3">
        <h3 class="mb-3">Home</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias assumenda cumque doloribus, esse et eveniet, exercitationem in ipsam itaque molestias provident quae quam quis repellendus sunt veritatis voluptas voluptate.</p>
    </div>
{% endblock %}